<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 header-title">
    <h1>{{#link-to "core-team"}}Team Neon{{/link-to}}</h1>
  </div>
  <div class="col-md-1 create-member-link">
    <p>{{#link-to "member.create"}}Add Member <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{/link-to}}</p>
  </div>
</div>