<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 header-title">
    <h1>{{#link-to "core-team"}}Team Neon{{/link-to}}</h1>
  </div>
  <div class="col-md-1 create-member-link">
    {{#link-to "member.create"}}Create Member{{/link-to}}
  </div>
</div>