<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="modal-body">
      <span class="close" {{action "close"}}>&times;</span>
      <p>{{message}}</p>
    </div>
    <div class="modal-footer">
      <button class="confirm" {{action "customAction" params}}>Confirm</button>
      <button class="cancel" {{action "close"}}>Cancel</button>
    </div>
  </div>


</div>