<div class="row core-team">
  <div class="col-md-4">
    {{team-list-item}}
  </div>
  <div class="col-md-4">
    {{team-list-item}}
  </div>
  <div class="col-md-4">
    {{team-list-item}}
  </div>
</div>
{{outlet}}