<div class="row core-team">
  {{#each model as |member|}}
  <div class="col-md-4 member">
    {{#link-to "member.show.index" member}}{{team-list-item member=member}}{{/link-to}}
  </div>
  {{/each}}
</div>
{{outlet}}