<div class="create-member">
  <h2>Please create a member</h2>
  <form {{action 'submit' model on='submit'}} class="form-inline">
    <div class="input-group">
      {{input value=model.firstName class='form-control'}}
      {{input value=model.lastName class='form-control'}}
      <div class="input-group-btn">
        <button
          type="submit"
          class="btn btn-success"
          disabled={{model.isNotValid}}
        >
          Save Member
        </button>
      </div>
    </div>
  </form>
</div>